$header-font-weight: 700;
$header-font-family: 'Comfortaa', sans-serif;
$title-font-weight: $header-font-weight;

$hr-border-width: 4px;
$hr-border-style: dotted;
$hr-border-color: #636fb4;

$sect-divider-size: 8px;
$sect-divider-style: dotted;
$sect-divider-color: #f9a80c;
