@import "settings/gbif";
@import "components/asciidoc";
@import "components/awesome-icons";

h1 {
  text-align: center;
}

.imageblock .title {
  margin-left: 2em;
  margin-right: 2em;
}

:not(.translationLinks) > {
  em:lang(zh), em:lang(ja) {
    font-style: normal;
    text-emphasis: dot;
  }
}

.term {
  color: inherit;
  font: 0.9em "Droid Sans Mono", "DejaVu Sans Mono", monospace;
  text-decoration: dashed underline;
  word-wrap: break-word;
}
