@import "settings/gbif";
@import "components/asciidoc";
@import "components/awesome-icons";

h1, #header > h1:first-child {
  text-align: center;
  color: $header-font-color;
}

#header h1 small {
  display: block;
  line-height: inherit;
}

.imageblock .title {
  margin-left: 2em;
  margin-right: 2em;
}

:not(.translationLinks) > {
  em:lang(zh), em:lang(ja) {
    font-style: normal;
    text-emphasis: dot;
  }
}

.term {
  color: inherit;
  font: 0.9em "Droid Sans Mono", "DejaVu Sans Mono", monospace;
  text-decoration: dotted underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  word-wrap: break-word;
}

a.glossary {
  color: inherit;
  text-decoration: dotted underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.break-all {
  word-break: break-all;
}

.hl {
  text-shadow: yellow 0 0 8px, yellow 0 0 5px, yellow 0 0 3px;
}
